<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Fish Poster</title>
        <meta name="description" content="pictures, fishing, upload, fishpost">
        <meta name="keywords" content="fishing posts, pictures, upload, fishpost">
        <meta name="author" content="Rasmus Björklund">
        <!-- Bootstrap CSS link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!-- link for styling -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fugaz+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body>
<div id="homeheader" class="header text-center container">
    <h1>The Fish Poster</h1>
    <p>Share your best catches!</p>
    <div>
       {% if user.is_authenticated %}
        <p>Välkommen, {{ user.username }}! 
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logga ut</button>
            </form>
        </p>
        {% else %}
        <p><a href="{% url 'login' %}">Logga in</a> eller <a href="{% url 'register' %}">Registrera</a></p>
        {% endif %} 
    </div>
</div>

<div>
    <h1>Ladda upp din fångst</h1>
    {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ladda upp</button>
    </form>
    {% else %}
    <p>Du måste <a href="/login">logga in</a> för att ladda upp en fångst.</p>
    {% endif %}
</div>

    {% for post in posts %}
      <article style="margin-bottom: 30px;">
        <h2>{{ post.title }}</h2>
        <p>Uppladdad: {{ post.created_at }}</p>

        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 400px; height: auto;">

        {% if post.description %}
            <p>{{ post.description }}</p>
        {% endif %}
      </article>
      {% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>