{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Fish Poster</title>
    <meta name="description" content="pictures, fishing, upload, fishpost, Register">
    <meta name="keywords" content="fishing posts, pictures, upload, fishpost">
    <meta name="author" content="Rasmus Björklund">
    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- link for styling -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fugaz+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="registerheader">
        <div class="container header-content">
            <div class="header-text">
             <h1 class="mb-0"><a href="{% url 'home' %}">The Fish Poster</a></h1>
             <p><a href="{% url 'home' %}">Share your best catches!</a></p>
            </div>
        </div>
    </header>
    <div class="container registerbox">
      <div class="register">
         <h1>Register for free here!</h1>
          <form method="POST">
           {% csrf_token %}
           {{ form.as_p }}
         <div class="regdiv">
             <button type="submit" class="btn btn-primary">Create account</button>
             <p><a href="/" class="btn btn-danger">Go back to main site</a></p>
         </div>
          </form>
      </div>
    </div>
    <footer>
        <div class="footerdiv">
            <p>FishPost - A Code-institute made project built with Django</p>
            <p>© 2026 Rasmus Björklund</p>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>