/* google Fonts */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Styling for the home page */
/*-----------------------------------------------------------*/

body {
    font-family: "Bebas Neue", sans-serif;
}

#homeheader {
    display:flex;
    background-color: black;
    color: white;
    height:150px;
    max-width:100%;
    align-items: center;
}