/* google Fonts */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Styling for the home page */
/*-----------------------------------------------------------*/

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: darkgoldenrod;
    min-height:100vh;
    display:flex;
    flex-direction: column;

}
/* Header styling */

#homeheader {
    display:flex;
    background-color: black;
    color: white;
    min-height:150px;
    max-width:100%;
    align-items: center;
}
#loginheader {
    display:flex;
    background-color: black;
    color: white;
    min-height:150px;
    max-width:100%;
    align-items: center;
}
#registerheader {
    display:flex;
    background-color: black;
    color: white;
    min-height:150px;
    max-width:100%;
    align-items: center;
}
.header-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    flex-direction: row;
}
.header-text {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header-loggin {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:5px;
}
.header-loggin button {
    background-color:grey;
    max-height:35px;
    padding:0px;
    width:auto;
    padding:0 5px 0 5px;
    border-color:white;
    color:white;
}
.header-loggin form {
        padding:15px;
}
.header-loggin p {
    font-size:1.7em;
    margin-bottom:0px;
    padding:5px;
}
.header-loggin a {
    margin-bottom:5px;
}
@media (max-width: 576px) {
    .header-content {
        display:flex;
        flex-direction:column;
        height:auto;;
    }
    .header-text {
        font-size: 25px;
        display:flex;
        flex-direction: column;
        height:auto;
        align-items:center;
        padding:5px;
    }
    .header-text h1 {
        font-size: 45px;
    }
    .header-loggin {
        display:flex;
        flex-direction: column;
        height:auto;
        align-items:center;
    }
    .btn.uploadbtn {
        max-height:45px;
        font-size:30px;
    }
    .regdiv {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

/* modal body styling */

.modal-body {
    max-height: 700px;
}
.modal-form {
    max-width: 520px;
    margin: 0 auto;
}
.modal-form label {
    display:block;
    margin-bottom: 6px;
}
.modal-form input[type="text"],
.modal-form input[type="file"],
.modal-form textarea,
.modal-form select {
    width:100%;
    box-sizing:border-box;
    display:block;
}
.modal-form textarea {
    height:140px;
    resize:vertical;
}
.model-upload {
    max-width:900px;
}
@media (min-width: 992px) {
  .model-upload { max-width: 900px; }
}
.modal-delete {
    display:flex;
    justify-content: space-between;
}

/* main content styling */
.btndiv {
    display:flex;
    justify-content: center;
    margin:15px;
}

.uploadbtn {
    background-color:grey;
    max-height:auto;
    padding:0px;
    width:auto;
    padding:0px 25px 0px 25px;
    border-color:white;
    font-size: 35px;
    justify-content: center;
}
.uploadbtn:hover {
    background-color:darkgrey;
    color:white;
    border-color: white;
}

/* styling for upload cards */

.main-content {
    margin:25px;
    display:block;
}

.mainfeed {
    column-count:3;
    column-gap:20px;
}

@media (max-width: 992px){
  .mainfeed{ column-count: 2; }
}

@media (max-width: 576px){
  .mainfeed{ column-count: 1; }
}

.feed-items{
  break-inside: avoid;
  margin-bottom: 20px;
}
.feed-items .card {
    display:inline-block;
    width:100%;
}
.card-body {
    display:flex;
    flex-direction: column;
}
.card-body .delbtn {
    align-self:flex-end;
    margin-top:10px;
}

/* Login html styling */
.loginbox {
    min-height: calc(100vh - 140px);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:24px;
}
.login {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:15px;
    width:100%;
    max-width:480px;
    padding:32px 28px;
    border-radius: 16px;
    background:black;
    border:1px solid white;
    text-align:center;
}
.login h1 {
    color:white;
    letter-spacing: 1px;
}
.logdiv {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:5px;
    margin-top: 25px;
}

.login form p{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin:5px;
}
.login form li {
    color:grey;
}
.login form label{
    padding:15px;
}
.formbtn {
    display: block;
    margin: 25px auto 0 auto;
}

/* Register html styling */
.registerbox{
    min-height: calc(100vh - 140px);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:24px;
}
.register {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    width:100%;
    max-width:480px;
    padding:32px 28px;
    border-radius: 16px;
    background:black;
    border:1px solid white;
    text-align:center;
}
.register h1{
    color:white;
    letter-spacing: 1px;
}
.register form p{
    color:white;
    margin:5px;
}
.register form li {
    color:grey;
    letter-spacing: 1px;
}
.register span{
    padding:15px;
    color:grey
}
.regdiv {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:5px;
}
.regdiv p {
    margin-bottom:0px;
}
.register form p{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* Footer styling */
footer {
    display:flex;
    background-color: black;
    color: white;
    min-height:100px;
    width:100%;
    align-items: center;
    margin-top:auto;
}