/* google Fonts */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Styling for the home page */
/*-----------------------------------------------------------*/

body {
    font-family: "Bebas Neue", sans-serif;
    background-color:cornflowerblue;
}

.header {
    display:flex;
    flex-direction:column;
    background-color:cadetblue;
    color:blue;
    height:125px;
    margin:0;
    padding:0;
}